
bin/
build/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake


.idea/
*.iml


*.o
*.a
*.so
*.dylib
*.out


.DS_Store
.AppleDouble
.LSOverride


day[0-9][0-9].exe


*.log
*.gcda
*.gcno

**/*.txt